<nav>
  <div class="wrapper">
    <div class="logo">
      <a href="/">
        <img src="/assets/logo.jpg" alt="Site Logo">
      </a>
    </div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links single">
      <label for="close-btn" class="btn close-btn">
        <i class="fas fa-times"></i>
      </label>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#" class="desktop-item">Categories</a>
        <input type="checkbox" id="showDrop">
        <label for="showDrop" class="mobile-item">Categories</label>
        <ul class="drop-menu">
          <li>
            <a href="#">News</a>
          </li>
          <li>
            <a href="#">Business</a>
          </li>
          <li>
            <a href="#">Technology</a>
          </li>
          <li>
            <a href="#">Culture</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="desktop-item">Discover</a>
        <input type="checkbox" id="showMega">
        <label for="showMega" class="mobile-item">Discover</label>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <img
                src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg"
                alt="">
            </div>
            <div class="row">
              <header>Kuli Hub</header>
              <ul class="mega-links">
                <li>
                  <a href="#">Social Commentary</a>
                </li>
                <li>
                  <a href="#">Testimonies</a>
                </li>
                <li>
                  <a href="#">Pilgrims</a>
                </li>
                <li>
                  <a href="#">Practical Christianity</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <header>Events</header>
              <ul class="mega-links">
                <li>
                  <a href="#">CyberSunday</a>
                </li>
                <li>
                  <a href="#">Jonah's Manifesto</a>
                </li>
                <li>
                  <a href="#">Paid In Full</a>
                </li>
                <li>
                  <a href="#">Spectre Community</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <header>Community</header>
              <ul class="mega-links">
                <li>
                  <a href="#">NFT ChurchOnline</a>
                </li>
                <li>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <a href="#">YouTube</a>
                </li>
                <li>
                  <a href="#">BlueSky</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#">Get Involved</a>
      </li>
    </ul>
    <label for="menu-btn" class="btn menu-btn">
      <i class="fas fa-bars"></i>
    </label>
  </div>
</nav>