<header class="header">
    <a href="/">
  <img src="/assets/logo.jpg" alt="" class="hero__image">
  <input type="checkbox" id="check"/>
    </a>
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu-icon"></i>
    <i class="bx bx-x" id="close-icon"></i>
  </label>
  <nav class="navbar">
    <a href="/" --i:0;>Home</a>
    <a href="/discover" --i:1;>Discover</a>
    <a href="/features"--i:2;>Features</a>
    <a href="/blog" --i:3;>Articles</a>
    <a href="#" --i:4;>Community</a>
  </nav>
</header>