---
title: Discover
layout: 'base.njk'
---

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">You Will Find Index For Each Beat</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul>
        <li><a href="#">Beat 1</a></li>
        <li><a href="#">Beat 2</a></li>
        <li><a href="#">Beat 3</a></li>
        <li><a href="#">Beat 4</a></li>
        <li><a href="#">Beat 5</a></li>
        <li><a href="#">Beat 6</a></li>
        <li><a href="#">Beat 7</a></li>
    </ul>

  </div>
</section>