---
title: Discover
layout: 'base.njk'
---

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Explore by Category</h2>
    <p class="text-center">Browse our curated categories to discover articles, insights, and resources tailored to your interests.</p>
    <ul>
        <li><a href="#">General</a></li>
        <li><a href="#">Social Commentary</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">World Affairs</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Health</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Business Section</a></li>
        <li><a href="#">Arts & Culture</a></li>
    </ul>

  </div>
</section>